<ion-header>
  <ion-toolbar>
    <ion-title>اخر الدفعات</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">رجوع</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div *ngIf="visable"> <img src="assets/icon/gif.gif" /></div> 

<ion-content>
  <table >
    <tr>
      <th>التاريخ</th>
      <th>  الدفعات </th>
    </tr>

    <tr  *ngFor="let d of data">
      <td>{{d.DT | date:'dd/MM/yyyy'}}</td>
      <td>{{d.AMT}}</td>
    </tr>
  </table>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="تحميل المزيد">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<app-footer> </app-footer>
