.page{
    background-image: url("/assets/icon/200.jpg");
    position: fixed;
    width: 100%;
    height: 250px;
    margin: 0;
}
ion-card-title{
    text-align: center;
}

ion-input{
    text-align: center;
    font-size: 27px;
    border: 2px solid black;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    width: 90%;
    margin: auto;
}
.error-message {
    color: var(--ion-color-danger);
}
.card{
    width: 95%;
    text-align : center;
    margin-top: 29px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;

}

div{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color:red;
}

ion-button{
    width: 93px;
    font-size: 26px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;

}

h1{
    color: black;
    font-size:  18px;
    margin-top: -10px;
    text-align: center;
    margin-right: -163px;
}

ion-icon{
    width: 50px;
    height: 90px;
    margin-right: 59px;
    margin-top: 10px;
}

.verticalLine {
    border-left: 2px solid #3880ff;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    margin-top: 20px;
  }

h2{
    color: black;
    margin-left: -178px;
    font-size:  18px;
    margin-top: -30px;
    text-align: center;

}

.icon{
    margin-right: 237px;
    margin-top:-108PX;
    position: absolute;
    width: 50px;
    height: 90px;

}

.id{
    height: 150px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;

}