.box a{
    display: inline-block;
    color: #fff;
    background-color: royalblue;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 15px;
}
.loader{
  display: flex;
}
.loader.hidden{
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
.box a:hover{
    box-shadow: 0px 5px 5px rgb(0, 0, 0 , 0.2);
}
.box ion-card-content{
    height: 90px;
    overflow: hidden;
}
h5{
    font-size: 14px;
    margin-top: -8px;
    color: blue;
    text-align: left;
    margin-left: 10px;
}

ion-card{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}