<ion-header>
  <ion-toolbar>
    <ion-title>الأخبار </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

 <app-loading></app-loading>
 <div *ngIf="visable"> <img src="assets/icon/gif.gif" /></div> 

      <ion-content >
        <ion-card *ngFor="let d of data">
          <img src="https://www.hepco.ps/mob/public/cdn/main?id={{d.id}}">
          <ion-card-header >
            <ion-subtitle>{{d.created_at}}</ion-subtitle>     
          <ion-card-title>{{d.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content >
              {{d.desc | slice:0:260}}
              <br>
               <h5 (click)="GoToPage(d)">اعرض المزيد </h5> 
          </ion-card-content>
        </ion-card>

        <ion-infinite-scroll (ionInfinite)="loadMore($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="تحميل المزيد">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </ion-content>

    

    

