<!-- <ion-header>
  <ion-toolbar>
    <ion-title>أخبار و اعلانات</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->


<ion-content>

  <!-- <ion-tab tab="news">
    <ion-content class="ion-padding">
      <h1>News</h1>
    </ion-content>
  </ion-tab>

  <ion-tab tab="adds">
      <ion-content  class="ion-padding">
        <h1>adds</h1>
      </ion-content>
  </ion-tab>   -->


  <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="news">
          <ion-label>الأخبار</ion-label>
          <ion-icon name="newspaper"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="adds">
          <ion-label>الاعلانات</ion-label>
          <ion-icon name="chatbubbles"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
  </ion-tabs>
</ion-content>

