<ion-header>
  <ion-toolbar>
    <ion-title>اقتراحات</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div class="page"> </div>


  <ion-card class="card">
    <form [formGroup]="formlogin">
      <br>
    <ion-input formControlName="name"  placeholder=" الاسم الرباعي "  [(ngModel)]="data.title"></ion-input>
    <br>
    <ion-input formControlName="phone" placeholder="رقم الهاتف"  [(ngModel)]="data.phone"></ion-input>
    <br>
    <ion-textarea formControlName="desc"placeholder="اقترح"  [(ngModel)]="data.desc"></ion-textarea>
    <br>
    <ion-button expand="block" (click)="postData(data)">ارسال</ion-button>
    <br>
    </form>
  </ion-card>
</ion-content>

<app-footer> </app-footer>


