<ion-header>
  <ion-toolbar>
    <ion-title>تواصل معنا</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  

  <div class="Toppage">
  </div>


<div class="page" >


  <img src="/assets/icon/9.png">

  <ion-list>

    <ion-item>
      <ion-label><ion-icon name="home-outline"></ion-icon> شركة كهرباء الخليل م.خ.م</ion-label>
    </ion-item>
      

    <ion-item>
      <ion-label><ion-icon name="person-outline"></ion-icon> الخليل - فلسطين</ion-label>
    </ion-item>
     
  
<ion-item>
  <ion-label><ion-icon name="call-outline"></ion-icon> صندوق البريد : 818 الخليل - فلسطين</ion-label>
</ion-item>

<ion-item>
  <ion-label> <ion-icon name="logo-whatsapp"></ion-icon><a href="whatsapp://send?text=&phone=+:97222292820"></a> Whatsapp </ion-label>
</ion-item>

<ion-item >
  <ion-label> <ion-icon name="call-outline"></ion-icon><a href="tel:0097222292821"></a> تيلفون :+970 2 22 92818 </ion-label>
</ion-item>

<ion-item >
  <ion-label> <ion-icon name="call-outline"></ion-icon><a href="tel:009722292821"></a>  فاكس : +970 2 22 92821</ion-label>
</ion-item>

<ion-item >
  <ion-label> <ion-icon name="call-outline"></ion-icon> <a href="tel:0598144445"></a> موبايل الشركة : 0598 14444 5 </ion-label>
</ion-item>

<ion-item >
  <ion-label> <ion-icon name="call-outline"></ion-icon> <a href="tel:009722233705"></a> تيلفون الطوارىء : +970 2 2233705 </ion-label>
</ion-item>

<ion-item >
  <ion-label> <ion-icon name="call-outline"></ion-icon> <a href="tel:059967280"></a> موبايل الطوارىء : 0599 672 580 </ion-label>
</ion-item>

<ion-item >
  <ion-label>  <ion-icon name="mail-outline"></ion-icon>  البريد الالكتروني : info@hepco-pal.com </ion-label>
</ion-item>

<ion-item >
  <ion-label>  <ion-icon name="mail-outline"></ion-icon>   المدير العام : asheikh@hepco-pal.com</ion-label>
</ion-item>

<ion-item>
  <ion-label> <ion-icon name="logo-facebook"></ion-icon> شركة كهرباء الخليل</ion-label>
</ion-item>


</ion-list>

</div>



</ion-content>


<app-footer> </app-footer>
