
.Toppage{
    background-image: url("/assets/icon/200.jpg");
    position: fixed;
    width: 100%;
    height: 250px;
    margin: 0;
    filter: blur(5px);
    }

ion-list {
    margin-top: 24px;
    font-size: 18px;
    

    ion-label{
        text-align: right;
        font-size: 20px;
        padding:5px;
    }
}

img{
    position: relative;
    width: 224px;
    height: 213px;
    margin: auto;
    margin-right: 62px;
}

  