<ion-header>
  <ion-toolbar>
    <ion-title>اخر الفواتير</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div *ngIf="visable"> <img src="assets/icon/gif.gif" /></div> 

<ion-content>

  <table > 
    <tr>
      <th>التاريخ</th>
      <th>رقم الفاتورة</th>
      <th>  المبلغ </th>
      <th>  المبلغ المدفوع</th>
    </tr>

    <tr  *ngFor="let d of data"  >
      <td>{{d.DT| date:'dd/MM/yyyy'}}</td>
      <td>{{d.NO.substring(7,12)}}</td>
      <td>{{d.AMT}}</td>

    <td [ngStyle]="{color:d.color}">{{d.PAMT}}</td>
    </tr>
  </table>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="تحميل المزيد">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<app-footer> </app-footer>
