:host{
    background: #8cbad1 !important;
    text-align: center;
    padding: 10px;
    display: block;
    font-family: cursive;
    color: white;
    .link{
        color: black;
    }
    
}
    